# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=
# The temperature controls how much randomness is in the output
AI_TEMP=0.7
# The size of the response
AI_MAX_TOKENS=100
# Personal organization ID (optional)
OPENAI_API_ORG=

REPLICATE_API_KEY=
# Optional, if you're doing rate limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
# Optional, if you're planning to use Upload.io (you need to if you have 100+ uploads)
NEXT_PUBLIC_UPLOAD_API_KEY=
# Optional, if you want to add auth + DB
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=
SHADOW_DATABASE_URL=
NEXTAUTH_URL=
